/* Estilos de tarjeta de café */

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
}

.card-img {
    width: 100%;
}

.card-img img {
    width: 100%;
    object-fit: cover;
    max-width: 25rem;
}

.card-body {
    text-align: center;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    display: block;
    margin: 0 auto;
    /* align-items: center; */
}